
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting   :)<br />
        <p>Party!</p>
        @Html.ActionLink("Rsvp Now", "RsvpForm")
    </div>
</body>
</html>
